body{
    box-sizing: border-box;
    margin: 0;   
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(251, 242, 242);
}

/* --- Header --- */

header{
    display:flex;
    flex-direction: column;
    width: 100%;
    background-image: url("images/background-header.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center;
}

header h1{
    color: white;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
}

header span{
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 1vw;
}

/* NavBar */

.navbar{
    display:flex;
    background-color:white;
    height:3vw;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 8px rgb(129, 128, 128);
    position: sticky;
    top:0;
}

.navbar-menu a {
    margin-right: 5vw;
    text-decoration: none;
    color: black;
    padding: 1vw;
}

.navbar-menu a:hover{
    color: orange;
}

/* .navbar-menu a::before{
    content: "o  ";
} */
/* --- Intro --- */

.intro-box{
    margin-top: 3vw;
    margin-left: 6vw;
}

/* > Buttons intro */

.btn-box{
    display: flex;
    justify-content: space-around;
    background-color: rgb(251, 251, 251);
    width: 20%;
    border-radius: 4px;
    box-shadow: 4px 4px 8px rgb(194, 194, 194);
    padding: 1vw;
}

.intro-box input{
    border-radius: 10vw;
    border: none;
    height: 5vw;
    width: 5vw;
    box-shadow: 2px 2px 2px rgb(194, 194, 194);
}

.btnLink{
    background-image: url('images/link-icon.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.btnGit{
    background-image: url('images/github-icon.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.btnCV{
    background-image: url('images/cv-icon.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.intro-box input:hover{
    border: 1px solid #21bdf3;
}

/* >Text + Img */

.intro-textimg{
    display: flex;
}

/* > Text Intro */

.intro-text{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 10px rgb(194, 194, 194);
    border-radius: 1vw;
    padding: 1vw;
    margin-top: 2vw;
    width: 50%;
    background-color: white;
}

.intro-title{
    font-weight: bold;
    font-size: 4vw;
}

.intro-sep{
    width: 85%;
    margin-top: 2vw;
    border: 1px solid rgba(167, 166, 166, 0.959);
}   

/* > Img Intro */

.intro-img{
    width: 50%;
    margin-left: 30vw;
}

.intro-img img{
    width: 50%;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgb(194, 194, 194);
    margin-top: 1vw;
    background-color: white;
}

/* --- Séparateur --- */

.sep{
    width: 95%;
    margin-left: 2%;
    border: 1px solid rgba(167, 166, 166, 0.959);
    margin-top: 2vw;
}

/* --- Parcours --- */

.parc-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parc-title-box{
}

.parc-title{
    font-size: 5vw;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 1vw;
    padding: 1vw;
    box-shadow: 4px 4px 5px rgb(194, 194, 194);
}

.jobs-box{
    margin-right: 50%;
    margin-left : 60%;
}

.work-box{
    margin-bottom: 2.2vw;
    width: 16vw;
    border-radius: 4px;
    border: 1px solid rgba(167, 166, 166, 0.959);
    padding: 2vw;
    background-color: white;
}

.parc-poste{
    font-weight: bold;
}

.work-box span{

}

.work-loc{

}

.JobsDate-box{
    display:flex;
    margin-right: 60%;
}

.date-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date-box p{
    border: 2px solid rgb(230, 230, 230);
    border-radius: 1vw;
    padding: 1vw;
    font-weight: bold;
    box-shadow: 2px 2px 10px black;
    background-color: white;
}

.icon-box{
    border: solid 0.5vw rgb(251, 242, 242);
    background-color: rgb(251, 242, 242);
    box-shadow: 2px 2px 8px grey;
    border-radius: 100%;
    height: 2vw;
    width: 2vw;
    margin-bottom:1vw;
}

.icon-box img{
    width: 100%;
}

/*--- Compétences ---*/

.comp-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comp-title-box{
}

.comp-title{
    font-size: 5vw;
    background-color: white;
    padding: 1vw;
    border: 1px solid transparent;
    border-radius: 1vw;
    box-shadow: 4px 4px 5px rgb(194, 194, 194);
}

.comp-items-box{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.comp-item{
    width: 50%;
    margin-bottom: 2vw;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 1vw;
    box-shadow: 4px 4px 8px rgb(194, 194, 194);
}

.comp-item img{
    width: 25%;
    margin:1%;
}

.progress-bar{
    border: solid 1px black;
    border-radius: 1vw;
    max-height: 1.5vw;
    min-height: 1vw;
    display:flex;
    align-items: center;
}

#windows{
    background-color:rgb(11, 162, 11);
    width: 90%;
    border-radius: 1vw;
    max-height: 1.5vw;
    min-height: 1vw;
    display:flex;
    align-items: center;
}

#windows p{
    margin: 0 auto;
    color: white;
}

#linux{
    background-color:rgb(11, 162, 11);
    width: 70%;
    border-radius: 1vw;
    max-height: 1.5vw;
    min-height: 1vw;
    display:flex;
    align-items: center;
}

#linux p{
    color:white;
    margin: 0 auto;
}

#windowsserver{
    background-color:rgb(11, 162, 11);
    width: 80%;
    border-radius: 1vw;
    max-height: 1.5vw;
    min-height: 1vw;
    display:flex;
    align-items: center;
}

#windowsserver p{
    margin: 0 auto;
    color: white;
}

#AD{
    background-color:rgb(11, 162, 11);
    width: 90%;
    border-radius: 1vw;
    max-height: 1.5vw;
    min-height: 1vw;
    display:flex;
    align-items: center;
}

#AD p{
    margin: 0 auto;
    color: white;
}

#cisco{
    background-color:rgb(11, 162, 11);
    width: 70%;
    border-radius: 1vw;
    max-height: 1.5vw;
    min-height: 1vw;
    display:flex;
    align-items: center;
}

#cisco{
    color: white;
}

#htmlcss{
    background-color:rgb(11, 162, 11);
    width: 90%;
    border-radius: 1vw;
    max-height: 1.5vw;
    min-height: 1vw;
    display:flex;
    align-items: center;
}

#htmlcss p{
    color: white;
}

#js{
    background-color:rgb(11, 162, 11);
    width: 60%;
    border-radius: 1vw;
    max-height: 1.5vw;
    min-height: 1vw;
    display:flex;
    align-items: center;
}

#js{
    color: white;
}

.progress-bar p{
    margin-left: 50%;
}

/* --- Taches réalisées --- */

.tasks-box{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.tasks-box-title{
    margin-top: 1vw;
    margin-bottom: 1.5vw;
    font-size: 3vw;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 1vw;
    padding: 0.5vw;
    box-shadow: 4px 4px 5px rgb(194, 194, 194);       
}

.tasks-title{
    margin-top: 1vw;
    margin-bottom: 1.5vw;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 1vw;
    padding: 0.5vw;
    box-shadow: 4px 4px 5px rgb(194, 194, 194);
}

.tasks-items-container{
    width: 100%;
    margin-top: 1vw;
    display:flex;
    justify-content: space-around;
}

.tasks-item-box a{
    text-decoration: none;
    color: black;
}

.tasks-item-box a:hover{
    text-decoration: underline;
    color: orange;
}

.tasks-item-box{
    border: 1px solid transparent;
    border-radius: 1vw;
    box-shadow: 4px 4px 15px rgb(194, 194, 194);
    max-width: 25%;
    margin-bottom: 2%;
    background-color: white;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.tasks-item-box .sep{
    margin-bottom: 1vw;
}

.tasks-item-box img{
    width: 30%;
    margin-top: 1vw;
}

.tasks-item-comp{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.tasks-item-comp p{
    text-decoration: underline;
}

.span-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.span-container span{
    margin-top: 0.3vw;
    max-width: 50%;
}

.tasks-item-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1vw;
}


.tasks-item-desc p{
    text-decoration: underline;
}

.tasks-item-desc span{
    max-width: 70%;
}

/* --- Veille --- */

.veille-title{
    margin-top: 1vw;
    font-size: 2vw;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 1vw;
    padding: 0.4vw;
    box-shadow: 4px 4px 5px rgb(194, 194, 194);
}

.veille-box{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.veille-comp{
    margin-top: 1vw;
    margin-bottom: 1.5vw;
    padding: 0.5vw;
    min-width: 50%;
}

.veille-art{
    margin-top: 1vw;
    margin-bottom: 1.5vw;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 1vw;
    padding: 0.5vw;
    box-shadow: 4px 4px 5px rgb(194, 194, 194);
    display: flex;
    flex-direction: column;
}

.veille-art img{
    width: 20%;
    margin-left: 40%;
}

.veille-art span{
    margin-top: 1vw;
    margin-left: 25%;
}

.veille-art img:hover{
    border: 2px solid orange;
    border-radius: 1vw;
}

/* --- Certifications --- */

.certi-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    
    /* background-color: purples; */
}

.certi-box-title{
    margin-top: 1vw;
    font-size: 3vw;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 1vw;
    padding: 0.4vw;
    box-shadow: 4px 4px 5px rgb(194, 194, 194);
}

.certi-flex{
    /* background-color: purple; */
}

.certi-box-container{
    background-color: green;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 1vw;
    padding: 0.4vw;
    margin: 0 auto;
    box-shadow: 4px 4px 5px rgb(194, 194, 194);
    margin-top: 2vw;
    max-width: 60%;
}

.certi-title-container{
}

.certi-container{
    font-size: x-small;
}

.certi-file{
    text-align: center;
}

.certi-file a{
    text-decoration: none;
    color: black;
}

.certi-file a:hover{
    color: orange;
    border-bottom: 1px solid orange;
}
/* --- Footer --- */

footer{
    height: 3vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    box-shadow: 4px 4px 10px rgb(194, 194, 194);
    margin-top: 3vw;
    height: 100%;
}

footer span{
    margin-top: 2vw;
    margin-bottom: 2vw;
}